@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
}

nav {
    background-color: rgba(51, 51, 51, 0.932);
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo button{
    background-color: transparent;
    border: none; 
    padding: 0;
}
.logo h1{
    margin-left: 40px;
    color: white;
}


.cart {
    position: relative;
    margin-right: 50px;
}

.cart-icon {
    width: 24px;
    cursor: pointer;
    transition: all;
}
.cart-icon:hover{
    transition: box-shadow 0.3s easy;
    transform: scale(1.3);
}

#cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}
.home {
    background-image: url('https://images.alphacoders.com/132/1326370.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.home h1,.home h3{
    margin: 0;
    background: linear-gradient(9deg, rgb(0, 255, 242), rgb(255, 176, 5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.container {
    text-align: center;
    margin-top: 50px;
}

.sample-image {
    width: 300px;
    height: auto;
}
.product-list{
    margin-left: 80px;
    padding: 10px;
}

.product {
    margin: 20px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product:hover{
    border: 3px solid rgb(0, 0, 0);
    transform: scale(1.0.5);
}

.product img {
    float: right;
    width: 200px;
    text-align: right;
    z-index: 5;
}
.pd-details {
    width: 50%;
    z-index: 5;
    text-align: left;
    font-size: 15px;
    text-transform: capitalize;
}
.srl-pds h1{
    margin-left: 50px;
    color: black;
}
.scroling-products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
  }
.scroling-products img:hover{
    transform: scale(1.1);
}
  .scroling-products .product {
    flex: 0 0 calc(15% - 20px); 
    scroll-snap-align: start;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
   
  .scroling-products .product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }  
  .scroling-products::-webkit-scrollbar {
    height: 12px;
  }
  
  .scroling-products::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  
  .scroling-products::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
  .pd-details img{
      width: 40px;
  }

.pd-details button ,.add-to-cart-btn,.buy-now, .remove-btn,#buy-now{
    margin: 30px;
    height: 50px;
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s;
}
.pd-details button:hover{
    box-shadow: 1px 2px 5px rgb(0, 255, 221);
}

.pd-details button:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 5px solid rgba(0,0,0,0.1);
  transform: translateY(10px);
}

.description {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    text-align: left;
}


form {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button[type="submit"] {
    margin-top: 20px;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container button[type="submit"]:hover{
    border-radius: 20px;
    transform: scale(1.1);
    box-shadow: 1px 2px 5px rgb(0, 255, 221);
}


.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.product-details h3 {
    margin: 0;
}

.product-details p {
    margin: 5px 0;
}

#total-amount {
    font-weight: bold;
    color: #007bff;
}
.add-to-cart-btn{
    transition: box-shadow 0.3s easy;
}
.add-to-cart-btn:hover{
    transform: scale(1.1);
}
.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black url('https://i.pinimg.com/originals/b9/1e/11/b91e1131ca20f6369aa68d21cb3a8960.gif') no-repeat center center;
    z-index: 9999;
    background-size: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body.loading {
    overflow: hidden; 
}
.loading-overlay h1{
    color: white;
    text-align: center;
    margin-top: 200px; 
    display: block;
}


@media (max-width: 768px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home {
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .product-list {
        margin-left: 30px;
        padding: 5px;
    }
    .product{
        margin-left: 20px;
    }

    .scroling-products .product {
        flex: 0 0 calc(25% - 10px); 
    }
    .container button[type="submit"] {
        width: 100%;
    }
    
}

@media (max-width: 600px) {
    .home {
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .nav, .cart {
        padding: 0 20px;
    }
    .logo h1 {
        margin-left: 20px;
        font-size: 20px;
    }
    .cart {
        margin-right: 20px;
    }
    .cart-count{
        margin-right: 20px;
    }
    .home {
        font-size: 25px;
    }
    .product-list {
        margin: 20px;
        padding: 5px;
    }
    .product {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .product img {
        width: 80%;
        margin: 10%;
    }
    .scroling-products {
        gap: 10px;
        padding: 10px;
    }
    .scroling-products .product {
        flex: 0 0 calc(40% - 10px); 
    }
    .container button[type="submit"] {
        width: 100%;
    }
    form {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        width: 90%;
        margin: 10px;
    }
    .loading-overlay h1 {
        margin-top: 100px;
    }
}

footer {
    background-color: rgba(51, 51, 51, 0.932);
    color: white;
    padding: 40px 0;
    text-align: center;
}

footer .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer .contact-box {
    flex: 1 1 200px;
    margin: 20px;
}

footer .contact-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer .contact-box span {
    display: block;
    margin: 5px 0;
    font-size: 14px;
}

footer .social a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

footer .social a:hover {
    color: #ff6347;
}

footer .contact-box li {
    list-style: none;
    margin: 10px 0;
}

footer .contact-box li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

footer .contact-box li a:hover {
    color: #ff6347;
}

footer .address i {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

footer .address i span {
    margin-left: 10px;
    font-size: 14px;
}

footer .copyright {
    background-color: rgb(44, 43, 43);
    padding: 10px 0;
}

footer .copyright p {
    margin: 0;
    font-size: 14px;
}

